.link{
    color: green;
    cursor: pointer;
    font-size: 3em;
    font-style: normal;
    margin: 5px;
    text-transform: uppercase;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;   
}

body{
    background-color: #3f3f3f;
}

p{
    font-size: 1.5em;
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}