img{
    max-width: 150px;
}

h1 {
    font-size: 3em;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
 }

h2{
    color: #2b4cf0;
    text-shadow: 1px 1px 2px pink;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

p{
    font-size: 1em;
    color: #6df239;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

body{
    background-color: white;
}