.App{
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 98vw;
    height: 98vh;
    padding: 1px;
    background: linear-gradient(hsl(30, 98%, 65%), hsl(53, 85%, 57%));
}

body{
    overflow: hidden;
    background: linear-gradient(hsl(30, 98%, 65%), hsl(53, 85%, 57%));
}


h1{
    text-align: center;
    color: hwb(76 3% 0%);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    max-width: 50%;
    border: 3px solid green;
}

/* uiverse https://uiverse.io/Yaseen549/cowardly-emu-68 */
input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin: 5px;
    text-align: center;
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }

/* https://getcssscan.com/css-buttons-examples */
.button-36 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}